# Database (MongoDB Atlas)
NEXT_PRIVATE_DATABASE_URL=mongodb://127.0.0.1/hur-travel

# Payload
NEXT_PRIVATE_PAYLOAD_SECRET=your-secret-here
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
PREVIEW_SECRET=your-preview-secret
